{% extends 'base.html' %}

{% block content %}
<div class="container my-2">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5">
        {% for entity in models %}
            <div class="card rounded-card m-1">
                <img src="/static/images/sofa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h6 class="card-title">Model uid: {{ entity.uid }}</h6>
                <h6 class="card-title">Name: {{ entity.name }}</h6>
                <h6 class="card-title">Categories: {{ entity.categories }}</h6>
                <h6 class="card-title">Color: {{ entity.color }}</h6>
                <a href="#" class="btn btn-success rounded-card">Edit</a>
                <form action="{{url_for('models.delete', uid=entity.uid)}}" method="post">
                <input type="hidden" name="uid" value="{{ entity.uid }}">
                <button type="submit" class="btn btn-success">delete</button>
                </form>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

